In [193]:
# Author: Sherzodbek Sadiev
# Date: 2025-06-02
import pandas as pd
import math 
import numpy as np

In [4]:
df= pd.read_csv('/Users/sherzod19/Downloads/Coding test_OE/arrestdla.csv')
df.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,191811472,05/03/2019,1700.0,18,Southeast,1802,23,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
1,5614161,04/29/2019,1040.0,8,West LA,842,41,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
2,5615197,04/30/2019,615.0,6,Hollywood,663,27,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"
3,5615701,04/30/2019,1100.0,9,Van Nuys,901,2,F,H,NaN,NaN,D,300(B)WIC,NaN,RAYMER,SEPULVEDA BL,"(34.2149, -118.4674)"
4,5615929,04/30/2019,1550.0,20,Olympic,2049,41,M,W,4.0,Aggravated Assault,F,245(A)(2)PC,ADW W/FIREARM,8TH ST,VERMONT,"(34.0578, -118.2916)"

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310127 entries, 0 to 1310126
Data columns (total 17 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Report ID                 1310127 non-null  int64
 1   Arrest Date               1310127 non-null  object
 2   Time                      1309932 non-null  float64
 3   Area ID                   1310127 non-null  int64
 4   Area Name                 1310127 non-null  object
 5   Reporting District        1310127 non-null  int64
 6   Age                       1310127 non-null  int64
 7   Sex Code                  1310127 non-null  object
 8   Descent Code              1310127 non-null  object
 9   Charge Group Code         1222098 non-null  float64
 10  Charge Group Description  1221577 non-null  object
 11  Arrest Type Code          1310127 non-null  object
 12  Charge                    1310127 non-null  object
 13  Charge Description        1222140 non-null  object
 14  Address                   1310127 non-null  object
 15  Cross Street              747661 non-null   object
 16  Location                  1310127 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 169.9+ MB

In [8]:
df.columns

Index(['Report ID', 'Arrest Date', 'Time', 'Area ID', 'Area Name',
       'Reporting District', 'Age', 'Sex Code', 'Descent Code',
       'Charge Group Code', 'Charge Group Description', 'Arrest Type Code',
       'Charge', 'Charge Description', 'Address', 'Cross Street', 'Location'],
      dtype='object')

In [9]:
df['Arrest Date'] = pd.to_datetime(df['Arrest Date'])

Q1. How many bookings of arrestees were made in 2018?

In [10]:
arrested_2018 = df[(df['Arrest Date'] >= '2018-01-01') & (df['Arrest Date'] <= '2018-12-31')]
len(arrested_2018)

104277

Q2. How many bookings of arrestees were made in the area with the most arrests in 2018?

In [11]:
print(f"{arrested_2018['Area Name'].value_counts().idxmax()}: {arrested_2018['Area Name'].value_counts().max()}")

Central: 10951

Q3. What is the 95% quantile of the age of the arrestee in 2018? Only consider the following charge groups for your analysis: Vehicle Theft, Robbery, Burglary, Receive Stolen Property.

In [12]:
arrested_2018['Charge Group Description'].unique()

array(['Fraud/Embezzlement', 'Homicide', 'Narcotic Drug Laws',
       'Weapon (carry/poss)', 'Other Assaults',
       'Miscellaneous Other Violations', 'Vehicle Theft',
       'Aggravated Assault', 'Driving Under Influence', 'Robbery',
       'Burglary', 'Against Family/Child', 'Moving Traffic Violations',
       'Larceny', 'Forgery/Counterfeit', 'Receive Stolen Property',
       'Sex (except rape/prst)', 'Prostitution/Allied', 'Liquor Laws',
       'Drunkeness', 'Rape', 'Disturbing the Peace',
       'Non-Criminal Detention', nan, 'Disorderly Conduct', 'Gambling',
       'Pre-Delinquency', 'Federal Offenses'], dtype=object)

In [15]:
specific_charges = arrested_2018[
    (arrested_2018['Charge Group Description'] == 'Vehicle Theft') |
    (arrested_2018['Charge Group Description'] == 'Robbery') |
    (arrested_2018['Charge Group Description'] == 'Burglary') |
    (arrested_2018['Charge Group Description'] == 'Receive Stolen Property')
]
specific_charges.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
167,5449454,2018-10-15,2330.0,1,Central,157,43,M,H,7.0,Vehicle Theft,F,10851(A)VC,TAKE VEHICLE W/O OWNER'S CONSENT,SPRING,5TH,"(34.0416, -118.244)"
172,5449463,2018-10-15,2330.0,1,Central,154,32,M,H,7.0,Vehicle Theft,F,10851(A)VC,TAKE VEHICLE W/O OWNER'S CONSENT,SPRING ST,6TH,"(34.046, -118.2509)"
173,5452727,2018-10-19,1935.0,1,Central,100,26,M,B,7.0,Vehicle Theft,F,10851(A)VC,TAKE VEHICLE W/O OWNER'S CONSENT,8TH ST,LOS ANGELES,"(34.0413, -118.2517)"
175,5460361,2018-10-29,1550.0,12,77th Street,1208,32,F,H,7.0,Vehicle Theft,F,10851(A)VC,TAKE VEHICLE W/O OWNER'S CONSENT,HOOVER,VERNON,"(34.0027, -118.2871)"
176,5464308,2018-11-03,350.0,1,Central,159,27,M,W,7.0,Vehicle Theft,F,10851(A)VC,TAKE VEHICLE W/O OWNER'S CONSENT,7TH ST,ALAMEDA,"(34.035, -118.2386)"

In [17]:
quantile_95 = specific_charges['Age'].quantile(0.95)
quantile_95

np.float64(52.0)

Q4. There are differences between the average age of an arrestee for the various charge groups. Are these differences statistically significant? For this question, calculate the Z-score of the average age for each charge group. Report the largest absolute value among the calculated Z-scores. (Only consider data for 2018. Do not consider "Pre-Delinquency" and "Non-Criminal Detention" as these charge groups are reserved for minors. Exclude any arrests where the charge group description is not known.)

In [19]:
charged_2018 = arrested_2018[(arrested_2018['Charge Group Description'] != 'Pre-Delinquency') &
                             (arrested_2018['Charge Group Description'] != 'Non-Criminal Detention') & 
                             (arrested_2018['Charge Group Description'] != 'nan')& 
                             (arrested_2018['Charge Group Description'].notna())& 
                             (arrested_2018['Charge Group Description'] != '')
                             ]
charged_2018.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
156,5213460,2018-01-24,1930.0,6,Hollywood,668,29,M,H,10.0,Fraud/Embezzlement,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,ST ANDREWS,FOUNTAIN,"(34.0949, -118.3109)"
157,5257944,2018-03-15,310.0,7,Wilshire,743,33,F,O,1.0,Homicide,F,191.5(B)PC,VEH MANSLAUGHTR/OPER VESSEL DUI & DUR FEL,OLYMPIC,MASSELIN,"(34.0574, -118.3547)"
158,5328813,2018-06-01,1800.0,3,Southwest,356,44,F,B,16.0,Narcotic Drug Laws,F,11379(A)HS,TRANSPORT/SELL CONTROLLED SUBSTANCE,1600 W 36TH PL,NaN,"(34.0219, -118.3061)"
159,5336331,2018-06-10,200.0,13,Newton,1364,23,M,H,12.0,Weapon (carry/poss),F,25400(A)2PC,CARRYING CONCEALED WEAPON UPON PERSON,1200 E 50TH ST,NaN,"(33.998, -118.2543)"
160,5360731,2018-07-07,2330.0,18,Southeast,1832,32,M,B,12.0,Weapon (carry/poss),F,29800(A)1PC,POSS F/ARM BY CONVICTED FELON/ADDICT/ETC,10700 S MAIN ST,NaN,"(33.9392, -118.2739)"

In [23]:
average_ages = charged_2018.groupby('Charge Group Description')['Age'].mean()

std_ages = average_ages.std()
avg_ages = average_ages.mean()

z_values = []

for age in average_ages: 
    z_values.append((age - avg_ages) / std_ages)

max_score = max(abs(z) for z in z_values)
round(max_score, 3)

np.float64(2.128)

Q5. How many arrest incidents occurred within 2 km from the Bradbury
Building(https://en.wikipedia.org/wiki/Bradbury_Building ) in 2018? [Use (34.050536, -118.247861) for the coordinates of the Bradbury Building. For simplicity, please use the spherical Earth projected to a plane(https://en.wikipedia.org/wiki/Geographical_distance#Spherical_Earth_projected_) equation for calculating distances. Use the radius of the Earth as 6371 km. Note, some arrest records are missing location data and the location is listed as (0, 0). These records should not factor in your calculation.]

In [101]:
arrested_2018.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,...,Location,Latitude,Longitude,Lat_rad,Lon_rad,Delta_phi,Delta_lambda,Mean_lat,Distance_km,Distance_m
156,5213460,2018-01-24,1930.0,6,Hollywood,668,29,M,H,10.0,...,"(34.0949, -118.3109)",34.0949,-118.3109,0.595068,-2.064915,0.000774,-0.001100,0.594681,7.618898,7618.898371
157,5257944,2018-03-15,310.0,7,Wilshire,743,33,F,O,1.0,...,"(34.0574, -118.3547)",34.0574,-118.3547,0.594414,-2.065679,0.000120,-0.001865,0.594354,9.872215,9872.215300
158,5328813,2018-06-01,1800.0,3,Southwest,356,44,F,B,16.0,...,"(34.0219, -118.3061)",34.0219,-118.3061,0.593794,-2.064831,-0.000500,-0.001016,0.594044,6.240022,6240.021544
159,5336331,2018-06-10,200.0,13,Newton,1364,23,M,H,12.0,...,"(33.998, -118.2543)",33.9980,-118.2543,0.593377,-2.063927,-0.000917,-0.000112,0.593836,5.871799,5871.798742
160,5360731,2018-07-07,2330.0,18,Southeast,1832,32,M,B,12.0,...,"(33.9392, -118.2739)",33.9392,-118.2739,0.592351,-2.064269,-0.001943,-0.000454,0.593322,12.610590,12610.589682

In [102]:
df[['LAT', 'LONG']] = df['Location'].str.strip('()').str.split(', ', expand=True)
df['LAT'] = df['LAT'].astype(float)
df['LONG'] = df['LONG'].astype(float)

In [105]:
import warnings
warnings.filterwarnings("ignore")
arrested_2018['Latitude'] = arrested_2018['Location'].str.extract(r'\(([^,]+),').astype(float)
arrested_2018['Longitude'] = arrested_2018['Location'].str.extract(r', ([^)]+)\)').astype(float)
arrested_2018 = arrested_2018[(arrested_2018['Latitude'] != 0) | (arrested_2018['Longitude'] != 0)]


bradbury_lat, bradbury_lon = 34.050536, -118.247861


arrested_2018['Lat_rad'] = np.radians(arrested_2018['Latitude'])
arrested_2018['Lon_rad'] = np.radians(arrested_2018['Longitude'])
bradbury_lat_rad = np.radians(bradbury_lat)
bradbury_lon_rad = np.radians(bradbury_lon)


R = 6371  
arrested_2018['Delta_phi'] = arrested_2018['Lat_rad'] - bradbury_lat_rad
arrested_2018['Delta_lambda'] = arrested_2018['Lon_rad'] - bradbury_lon_rad
arrested_2018['Mean_lat'] = (arrested_2018['Lat_rad'] + bradbury_lat_rad) / 2
arrested_2018['Distance_km'] = R * np.sqrt(arrested_2018['Delta_phi']**2 + (np.cos(arrested_2018['Mean_lat']) * arrested_2018['Delta_lambda'])**2)
arrested_2018['Distance_m'] = arrested_2018['Distance_km'] * 1000 

arrests_within_2km = len(arrested_2018[arrested_2018['Distance_m'] <= 2000])

print(f"Arrest incidents within 2 km of Bradbury Building in 2018: {arrests_within_2km}")
pd.DataFrame({'Metric': ['Arrests within 2 km'], 'Value': [arrests_within_2km]}).to_csv('arrests_bradbury_2018.csv', index=False)

Arrest incidents within 2 km of Bradbury Building in 2018: 11461

Q6. How many arrest incidents were made per kilometer on Pico Boulevard during 2018? For this question, we will need to estimate the length of Pico Boulevard, which mostly stretches from east to west. To estimate the length of Pico Boulevard:
Consider all location data which the listed address mentions "Pico". Remove outliers by filtering out locations where either the latitude or longitude is 2 standard deviations beyond the mean of the subset of identified points. To estimate the length, calculate the distance from the most western and eastern coordinate points. As before, use the simplified flat surface equation.
Once you have estimated the length of Pico Boulevard, you can proceed to report the number of arrest incidents per kilometer on Pico Boulevard in 2018.

In [34]:
picoList = df[df['Address'].str.contains('Pico', case=False, na=False)]

In [37]:
picoList = picoList[(picoList['LAT'] != 0) | (picoList['LONG'] != 0)]

In [38]:
def remove_outliers(lat, long):
    lat_mean = picoList['LAT'].mean()
    lat_std = picoList['LAT'].std()
    long_mean = picoList['LONG'].mean()
    long_std = picoList['LONG'].std()

    lat_lower = lat_mean -2 *lat_std
    lat_upper = lat_mean + 2 *lat_std
    long_lower = long_mean - 2 *long_std
    long_upper = long_mean +2 *long_std

    lat_correct = lat_lower <= lat <= lat_upper
    long_correct = long_lower <= long <= long_upper
    
    return lat_correct and long_correct

In [39]:
picoList['isOutlier'] = picoList.apply(lambda row: remove_outliers(row['LAT'], row['LONG']), axis=1)

In [42]:
western_ind = picoList['LONG'].idxmin()
eastern_ind = picoList['LONG'].idxmax()

western_coord = (picoList.loc[western_ind, 'LAT'], picoList.loc[western_ind, 'LONG'])
eastern_coord = (picoList.loc[eastern_ind, 'LAT'], picoList.loc[eastern_ind, 'LONG'])

In [45]:
del_lat = math.radians(eastern_coord[0] - western_coord[0])
del_long = math.radians(eastern_coord[1] - western_coord[1])
avg_lat = math.radians((eastern_coord[0] + western_coord[0])) / 2

r = 6371

distance = r * math.sqrt((del_lat * math.cos(del_long/2))** 2 + (2 *math.cos(avg_lat) * math.sin(del_long/2))** 2)

distance

37.428634907513676

In [46]:
incident_on_Pico = len(picoList[(picoList['Arrest Date'] >= '2018-01-01') & (picoList['Arrest Date'] <= '2018-12-31')])

incident_on_Pico/distance

16.377834818574755

Q7. Some types of arrest incidents in certain areas occur at a highly disproportionate rate compared to their frequency city-wide. For example, let's say that the rate of larceny arrests (charge group code 6) is 1% in Devonshire (area ID 17). This rate may appear low but what if larceny arrests constitute 0.1 % city-wide? The ratio between these two probabilities is 10 and we can say that larceny occurs unusually often in Devonshire (Note, these numbers were made up for illustration purposes). Calculate this ratio for all charge group code and area ID pairs. You can view this ratio as the ratio of the conditional probability of an arrest incident of a charge group code given that it occurred in an area ID to the unconditional probability of the arrest incident of a charge group. Report the average of the top 5 of the calculated ratio.
Consider all records prior to January 1, 2019.
Some arrest incidents don't have a charge group code. These records should not
be considered in your analysis. Arrest incidents for charge group code 99 should
not be considered in your analysis.

In [179]:
unique_val = df['Charge Group Code'].unique()
unique_val_list = unique_val.tolist()
print(unique_val_list)

[10.0, 11.0, 8.0, 1.0, 16.0, 12.0, 24.0, 7.0, 4.0, 22.0, 3.0, 5.0, 15.0, 6.0, nan, 23.0, 9.0, 13.0, 14.0, 17.0, 18.0, 2.0, 19.0, 26.0, 27.0, 29.0, 21.0, 20.0, 25.0, 99.0]

In [180]:
corrected_charges = df[df['Charge Group Code'].notna() & (df['Charge Group Code'] != 99.0)]
corrected_charges.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,LAT,LONG
151,4738682,2016-08-01,1835.0,6,Hollywood,645,32,F,O,10.0,Fraud/Embezzlement,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,1700 N HIGHLAND AV,NaN,"(34.1006, -118.3417)",34.1006,-118.3417
152,4738771,2016-08-01,1835.0,6,Hollywood,645,44,M,O,10.0,Fraud/Embezzlement,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,1700 N HIGHLAND AV,NaN,"(34.1006, -118.3417)",34.1006,-118.3417
153,4988057,2017-05-14,2215.0,7,Wilshire,755,48,M,W,11.0,Receive Stolen Property,F,496(A)PC,RECEIVING KNOWN STOLEN PROPERTY >$950,PACKARD,RIDGELEY,"(34.051, -118.3548)",34.0510,-118.3548
154,5060090,2017-08-01,2305.0,18,Southeast,1835,43,M,B,8.0,Other Assaults,F,422(A)PC,TERRORIZE CAUSING FEAR,10400 ZAMORA AV,NaN,"(33.9424, -118.2517)",33.9424,-118.2517
155,5165092,2017-11-27,2215.0,7,Wilshire,713,26,M,B,11.0,Receive Stolen Property,F,496(A)PC,RECEIVING KNOWN STOLEN PROPERTY >$950,BEVERLY BL,FAIRFAX AV,"(34.0761, -118.3614)",34.0761,-118.3614

In [181]:
len(corrected_charges)

1151713

In [183]:
uncond_prob = corrected_charges['Charge Group Code'].value_counts(normalize=True).reset_index()
uncond_prob.columns = ['Charge Group Code', 'Uncond_Prob']

In [184]:
cond_counts = corrected_charges.groupby(['Area ID', 'Charge Group Code']).size().reset_index(name='Count')
cond_counts['Cond_Prob'] = cond_counts['Count'] / cond_counts.groupby('Area ID')['Count'].transform('sum')

In [186]:
merged_data = cond_counts.merge(uncond_prob, on='Charge Group Code')

In [188]:
merged_data.head()

   Area ID  Charge Group Code  Count  Cond_Prob  Uncond_Prob     Ratio
0        1                1.0    133   0.001143     0.001958  0.583735
1        1                2.0    188   0.001616     0.002356  0.685581
2        1                3.0   1530   0.013148     0.021199  0.620219
3        1                4.0   4254   0.036556     0.067694  0.540025
4        1                5.0   1034   0.008886     0.019732  0.450307

In [189]:
merged_data['Ratio'] = merged_data['Cond_Prob'] / merged_data['Uncond_Prob']

top5_avg = merged_data['Ratio'].nlargest(5).mean()

print("Average of top 5 ratios:", top5_avg)

Average of top 5 ratios: 3.515076379865202

Q8. Felony arrest incidents have been dropping over the years. Using a trend line (linear estimation) for the data from 2010 and 2018 (inclusive), what is the projected number of felony arrests in 2019? Round to the nearest integer. Note, the data set includes arrests for misdemeanor, felonies, etc.

In [93]:
df = df[df['Arrest Date'].dt.year.between(2010, 2018)]
felony_df = df[df['Arrest Type Code'] == 'F']


felony_counts = felony_df['Arrest Date'].dt.year.value_counts().sort_index()
years = felony_counts.index.values
counts = felony_counts.values

In [94]:
X = years.reshape(-1, 1)  
y = counts  

model = LinearRegression()
model.fit(X, y)


X_2019 = np.array([[2019]])
predicted_2019 = model.predict(X_2019)[0]
predicted_2019_rounded = round(predicted_2019)

print(f"\nProjected felony arrests in 2019: {predicted_2019_rounded}")

Projected felony arrests in 2019: 31038